doctype html
html(lang='en')
    head
        // Google Tag Manager
        script.
          (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
          new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
          j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
          'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
          })(window,document,'script','dataLayer','GTM-WVMX7WG');
        // End Google Tag Manager
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Jack
        link(rel='icon', href='favicon.ico', type='image/x-icon')
        link(rel='shortcut icon', href='favicon.ico', type='image/x-icon')
        link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
        link(rel='stylesheet', href='css/font-awesome.min.css')
        link(rel='stylesheet', href='fonts/styles.css')
        link(rel='stylesheet', href='css/slick.css')
        link(rel='stylesheet', href='css/slick-theme.css')
        link(rel='stylesheet', href='css/main.css')
        script.
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-106123915-1', 'auto');
          ga('send', 'pageview');

    body
        // Google Tag Manager (noscript)
        noscript
          iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-WVMX7WG', height='0', width='0', style='display:none;visibility:hidden')
        // End Google Tag Manager (noscript)
        .col-xs-12.header
            .col-xs-3.head.transparent
                .col-xs-12.cont.back
                    i.fa.fa-angle-left(aria-hidden='true')
                    span.hidden-xs VOLVER
            .col-xs-6.head.title
                .title-decor.title-decor-left.col-xs-1.hidden-xs
                .col-xs-12.col-sm-10.cont.text-editable.hidden-xs(data-var='headTitle0') BUSCA TU ESTILO
                .title-decor.title-decor-right.col-xs-1.hidden-xs
            .col-xs-3.head
                .col-xs-12.cont.exit
                    a.exit-app.hidden-xs(href='http://www.offcorss.com/') SALIR
                    a(href='http://www.offcorss.com/')
                        i.fa.fa-times
        .col-xs-12.content
            .col-xs-12.warning-wrapper
                .col-xs-8.title
                    h2 ¿Estás seguro?
                .col-xs-2.yes
                    h2 Si
                .col-xs-2.no
                    h2 No
                .col-xs-12.disabler
            .screen.prev
                .container.col-xs-12
            .screen.current
                .container.col-xs-12
            .screen.next
                .container.col-xs-12
        footer.col-xs-12.footer
            .col-xs-12.loader
                .progress.loading
            .col-xs-12.brand
    script(src='js/jquery-3.2.1.min.js')
    script(src='js/jquery.form.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
    script#delete-me.
        var admin = !{admin};
        var status = !{status};
    script(src='js/variables.js')
    script(src='js/slick.min.js')
    script(src='js/moment-with-locales.js')
    script(src='js/main.js')
